.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 24px;
    margin-left: 3px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 22px;
    color: white;
}


.App-title {
  margin-bottom: 0.3em;
  color: maroon;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.muted {
    color: gray;
    display: inline-block;
}