.footer {
    background-color: #222;
    padding: 5px;
    border-radius: 7px;
    margin-top: 15px;
}

.player-feedback {
    width: 100%;
    padding: 10px;
}

.player-feedback::after {
    content: '';
    display: table;
    clear: both;
}

.player-guess-count {
    margin: 12px 0 0 0;
    font-weight: bold;
    color: lightskyblue;
    font-size: 2em;
}

.player-guess-history {
    margin: 15px 0 0 0;
    font-weight: bold;
    color: lightskyblue;
    font-size: 2em;
}

.guess-count,
.guess-history {
    margin-top: 12px;
    color: white;
    font-size: 2em;
    width: 70%;
    display: inline-block;
    text-align: left;
    overflow-y: hidden;
    overflow-x: auto;
    white-space: nowrap;
}

@media only screen and (max-width: 768px) {
    .player-guess-count,
    .player-guess-history {
        font-size: 1.8em;
        width: 30%;
    }
    .guess-count,
    .guess-history {
        font-size: 1.8em;
        width: 90%;
    }
}

@media only screen and (max-width: 975px) {
    .guess-count,
    .guess-history {
        padding-left: 4%;
    }
}