.logo {
    animation: logo-spin infinite 15s linear;
    height: 40px;
    margin-left: 2px;
    margin-top: 9px;
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.subtitle {
    display: inline-block;
}