.new-game-container {
    padding-top: 6px;
    padding-right: 12px;
}

#new-game-btn {
    color: lightskyblue;
    background: none;
    padding: 0;
    border: 0;
    
}

#new-game-btn:hover {
    color: white;
    cursor: pointer;
}