.player-feedback {
    /* border: 2px solid black; */
    width: 100%;
    padding: 10px;
}

.player-feedback::after {
    content: '';
    display: table;
    clear: both;
}

.player-guess-count {
    margin: 12px 0 0 0;
    font-weight: bold;
    color: lightskyblue;
    font-size: 2em;
    /* width: 30%; */
}

.player-guess-history {
    margin: 15px 0 0 0;
    font-weight: bold;
    color: lightskyblue;
    font-size: 2em;
    /* width: 30%; */
}

.guess-count-props,
.guess-history-props {
    margin-top: 12px;
    /* margin-left: 2%; */
    /* padding-left: 2%; */
    color: white;
    font-size: 2em;
    /* border: 1px solid gray; */
    width: 70%;
    /* height: 40px; */
    display: inline-block;
    text-align: left;
    overflow-y: hidden;
    overflow-x: auto;
    /* overflow-wrap: none; */
    white-space: nowrap;
}


/* .guess-history-props {
    color: white;
    font-size: 2em;
} */

@media only screen and (max-width: 768px) {
    .player-guess-count,
    .player-guess-history {
        font-size: 1.8em;
        width: 30%;
    }
    .guess-count-props,
    .guess-history-props {
        font-size: 1.8em;
        width: 90%;
    }
}

@media only screen and (max-width: 975px) {
    .guess-count-props,
    .guess-history-props {
        padding-left: 4%;
    }
}