* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #f0f0f0;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.clear-left {
    clear: left;
}